body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-layout {
  background: white;
  border-radius: 5px;
  padding: 0;
}

.btn-color{
  background: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 16px;
  height: 21px;
  margin-top: 22px;
  color: #0075FF;
  cursor: pointer;

  &:disabled {
    color: #888888;
    cursor: not-allowed;
    pointer-events: all !important;
    svg {
      fill: #888;
    }
  }

  svg {
    fill: #0075FF;
    margin-right: 6px;
  }
}

.btn-color:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  padding-right: 20px;
}

.table__title {
  text-align: start;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 21px;
  padding-top: 21px;
  padding-right: 20px;
  padding-left: 20px;
}

.table {
  background: white;
  width: 100%;
  border-spacing: 0;

  th {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    height: 32px;
    font-size: 12px;
    font-weight: lighter;
    text-align: start;
    text-transform: uppercase;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }

  th:last-of-type {
    border-right: none;
  }

  td {
    height: 53px;
    padding: 0 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  th:nth-child(1){
    text-align: center;
  }

  td:nth-child(1) {
    width: 70px;
  }

  td:nth-child(2) {
    width: 186px;
    text-align: start;
  }

  td:nth-child(3) {
    width: 78px;
    text-align: center;
  }

  td:nth-child(4) {
    width: 130px;
    text-align: start;
  }

  td:nth-child(5) {
    width: 174px;
    text-align: start;
  }
}

.table__head {
  display: flex;
  justify-content: space-between;
  padding: 0;

  .u-padding-reset {
    padding: 0;
  }
}

.color-block {
  background-color: rgb(152, 178, 209);
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 2px;
}

.invisible {
  display: none;
}

.form-layout .u-padding-reset {
  padding: 0;
}

.u-margin-rest {
  margin: 0;
}
